#header {
    width: 100%;
    height: 70px;
    background-color: #333533;
    color: #D6D6D6;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 40px;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 140px;
    z-index: 5;
}

.nav-items {
    display: flex;
    gap: 20px;
    list-style-type: none;
    cursor: pointer;
}

.nav-items>li {
    display: block;
    transition: all linear 0.5s;
    padding: 5px;
    border: 1px solid transparent;
}

.nav-items>li:hover {
    color: #FFD100;
    border: 1px solid #D6D6D6;
}