<div class="banner-show banner-secondary">
    <div class="slogan">
        <h3>Shows</h3>
    </div>
</div>
<main class="menu">
    <section class="shows">
        <h2 class="title">Shows</h2>
        <table class="table" id="tableProduct">
            <thead class="table-header">
                <tr>
                    <th>Show</th>
                    <th>Data</th>
                    <th>Hora</th>
                </tr>
            </thead>
            <tbody class="table-body">
                <tr *ngFor="let show of listShows" class="table-row">
                    <th>{{show.nome_atracao}}</th>
                    <th>{{show.data}}</th>
                    <th>{{show.hora}}</th>
                </tr>
            </tbody>
        </table>
    </section>
    <!-- <div class="modal">
        <div class="modal-container">
            <a class="exit" href="#">X</a>
            <h2>Shows</h2>
            <div class="modal-content">
                <label for="bandName">Banda</label>
                <input type="text" name="band" id="bandName" />
                <label for="bandData">Data</label>
                <input type="date" name="preco" id="bandDate" />
                <label for="bandDate">Hora</label>
                <input type="time" name="provider" id="bandTime" />
            </div>
            <div class="modal-buttons">
                <button class="secondary-button">Cancelar</button>
                <button class="primary-button">Salvar</button>
            </div>
        </div>
    </div> -->
</main>