<div class="banner-show banner-secondary">
    <div class="slogan">
        <h3>Shows</h3>
    </div>
</div>
<main class="menu">
    <section class="shows">
        <div class="title-section">
            <h2 class="title">Shows</h2>
            <button (click)="openModal()">
              <h1>+</h1>
            </button>
        </div>
        <table class="table" id="tableProduct">
            <thead class="table-header">
                <tr>
                    <th>Show</th>
                    <th>Data</th>
                    <th>Hora</th>
                </tr>
            </thead>
            <tbody class="table-body">
                <tr *ngFor="let show of listShows" class="table-row">
                    <th>{{show.nome_atracao}}</th>
                    <th>{{show.data}}</th>
                    <th>{{show.hora}}</th>
                </tr>
            </tbody>
        </table>
    </section>
    <app-modal *ngIf="modalState"></app-modal>
</main>
