<div id="drawer">
    <form (ngSubmit)="login()" [formGroup]="loginForm" #formDir="ngForm">
        <div class="drawer-wrapper">
            <div class="drawer-header">
                <h3>Login</h3>
                <button class="closebtn" (click)="closeModal()">&times;</button>
            </div>
            <div class="input-container">
                <div>
                    <span>Login</span>
                    <input formControlName="email" type="text" placeholder="Email" required/>
                </div>
                <div>
                    <span>Senha</span>
                    <input formControlName="password" type="password" placeholder="Senha" required/>
                </div>
                <button type="submit">Entrar</button>
            </div>
            <img src="assets/seucaneco.png" alt="" />
        </div>
    </form>
</div>
