<div class="modal">
    <form (ngSubmit)="register()" [formGroup]="showForm" #formDir="ngForm">
        <div class="modal-container">
            <a class="exit" href="/shows">X</a>
            <h2>Shows</h2>
            <div class="modal-content">
                <label for="bandName">Banda</label>
                <input formControlName="nome_atracao" type="text" name="band" id="bandName" />
                <label for="bandData">Data</label>
                <input formControlName="data" type="date" name="preco" id="bandDate" />
                <label for="bandDate">Hora</label>
                <input formControlName="hora" type="time" name="provider" id="bandTime" />
            </div>
            <div class="modal-buttons">
                <button class="secondary-button">Cancelar</button>
                <button class="primary-button" type="submit">Salvar</button>
            </div>
        </div>
    </form>
</div>
