<div class="modal">
    <div class="modal-container">
        <a class="exit" href="#">X</a>
        <h2>Shows</h2>
        <div class="modal-content">
            <label for="bandName">Banda</label>
            <input type="text" name="band" id="bandName" />
            <label for="bandData">Data</label>
            <input type="date" name="preco" id="bandDate" />
            <label for="bandDate">Hora</label>
            <input type="time" name="provider" id="bandTime" />
        </div>
        <div class="modal-buttons">
            <button class="secondary-button">Cancelar</button>
            <button class="primary-button">Salvar</button>
        </div>
    </div>
</div>