<div class="banner-menu banner-secondary">
    <div class="slogan">
        <h3>Menu</h3>
    </div>
</div>
<main class="menu">
    <section class="products">
        <h2 class="title">Bebidas</h2>
        <table class="table" id="tableProduct">
            <thead class="table-header">
                <tr>
                    <th>Bebida</th>
                    <th>Preço</th>
                </tr>
            </thead>
            <tbody class="table-body">
                <tr *ngFor="let snack of listSnacksProducts" class="table-row">
                    <th>{{snack.nome}}</th>
                    <th>{{snack.preco}}</th>
                </tr>
            </tbody>
        </table>
    </section>
    <section class="products">
        <h2 class="title">Petiscos</h2>
        <table class="table" id="tableProduct">
            <thead class="table-header">
                <tr>
                    <th>Petisco</th>
                    <th>Preço</th>
                </tr>
            </thead>
            <tbody class="table-body">
                <tr *ngFor="let drink of listDrinksProducts" class="table-row">
                    <th>{{drink.nome}}</th>
                    <th>{{drink.preco}}</th>
                </tr>
            </tbody>
        </table>
    </section>
</main>